@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(255, 224, 47);
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    height: 98vh;
    margin: 0;
    border: solid 1px;
    font-family: 'Special ELite', cursive;
}

.title{
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: xxx-large;
    color: rgb(233, 26, 164);
}

.btn-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.button {
    font-family: 'Special Elite', cursive;
    font-size: xx-large;
    padding: 20px;
    border: dashed 2px;
    background-color: rgb(255, 224, 47);
}

.button:hover:enabled {
    border-color: rgb(233, 26, 164);
    color:rgb(233, 26, 164)
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-family: 'Press Start 2P',;
    font-size: xx-large;
}

.score-msg {
    display: flex;
    min-width: 470px;
    justify-content: space-between;
    margin-top: 60px;
    font-size: x-large;
}